$tmpdir /state/partition2/vallet/536861.phlam-s-sakura
$title
$operating system unix
$symmetry cs
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c aug-cc-pVTZ                                                        \
   jbas  =c aug-cc-pVTZ
h  2-4                                                                         \
   basis =h aug-cc-pVTZ                                                        \
   jbas  =h aug-cc-pVTZ
o  5,7                                                                         \
   basis =o aug-cc-pVTZ                                                        \
   jbas  =o aug-cc-pVTZ
s  6                                                                           \
   basis =s aug-cc-pVTZ                                                        \
   jbas  =s aug-cc-pVTZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=45558
   natoms=7
   nshell=85
   nbf(CAO)=299
   dim(trafo[SAO<-->AO/CAO])=441
   rhfshells=2
   nbf(AO)=257
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$alpha shells
 a'      1-16                                   ( 1 )
 a"      1-5                                    ( 1 )
$beta shells
 a'      1-16                                   ( 1 )
 a"      1-4                                    ( 1 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore        4
$rij
$jbas    file=auxbasis
$dft
   functional pbe0
   gridsize   m4
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$scforbitalshift  closedshell=.05
$last step     freeh
$last SCF energy change = -.21825736E-06
$ssquare from ridft
          0.756 (not to be modified here)
$charge from ridft
         -0.000 (not to be modified here)
$dipole from force
  x     1.22567294792103    y    -0.81647922418044    z     0.00000000000000    a.u.
   | dipole | =    3.7433163151  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20790376431973E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-588.2454338284    -1152.009233721     428.4455694200    -35.67366990351    -1.456456365550     172.4483567415
$dipgrad    file=dipgrad
$hessian (projected)    file=hessian
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
   9.6508902946   6.9054491857   5.4582761122   9.6752164695   5.3703379296
   7.0373799929   2.2091597455   1.6594790881   4.4359933739   7.7384567288
   8.2059803658  10.0837634514   1.2723642058   1.3610087455  18.7842043342
   1.1307281238   1.0408818840   1.0475346321   1.0329339551   1.1068903421
   1.1016470204
$nvibro       21
$vibrational spectrum    file=vibspectrum
$end
